{% extends 'baseboostrap.html' %}
{% load humanize %}
{% block content %}

<div class="table-responsive">
  <table class="table table-light table-striped">
    <tr class="table-active">
      
          <td>Productor</td>
      
          <td>Fecha Inicio</td>
      
          <td>Fecha Termino</td>

          <td>Vigencia</td>
        </tr>

        {% for c in cont %} 
        <tr>
      
            <td>{{ c.usuario.username }}</td>
        
            <td>{{ c.fecha_inicio }}</td>
    
            <td>{{ c.fecha_termino }}</td>
  
            <td>{{ c.vigencia }}</td>
          </tr>
        {% endfor %}
      </table>
</div>


{% endblock %}