{% extends 'base.html' %}
{% load humanize %}
{% block content %}
{% for post in posts %}
<article>
    <div class="container-article">
        <div class="container-user">
            <img src="{{ post.user.imagen.url }}">
            <div class="usuario">
                <h2 class="username"><a href="">@{{ post.user.username }}</a><b class="mensaje">Inició un proceso de venta.</b></h2>
                <i class="clock"></i>
                <time data-time="#">{{ post.fecha_creacion|naturaltime }}</time>
            </div>
        </div>
        <div class="row center-xs">
            <div class="post col-xs-10">

                <br>
                <br>
                Fruta: {{ post.get_fruta_display }}
                <br>
                Variedad: {{ post.variedad }}
                <br>
                Descripcion: {{ post.contenido }}
                <br>
                Cliente : {{ post.cliente.username }}
                <br>
                Estado actual subasta: 
                <br>
                cantidad fruta: {{ post.cantidad_actual }}/{{ post.cantidad_necesaria }} Kilogramos
                <br>
                <br>

                {% if request.user.rol == "6"  %}
                <a href="{% url 'pagarsubasta' pk=post.pk  %}" class="col-xs-2">
                    <input type="submit" value="Finalizar Subasta">
                </a>
            {% endif %}
            {% if request.user.rol == "1"  %}
            <a href="{% url 'subasta' pk=post.pk %}" class="col-xs-2"></i> 
                <input type="submit" value="Participar en la puja">
            </a>
            {% endif %}
            <br>
            <br>
            </div>
        </div>
        <img class="post-img" src="{{ post.imagen.url }}">
        <div class="partis">
            <p>{{post.participantes.count}} Participantes:</p>
            <br>
                {% for parts in post.participantes %}

                <p>{{parts.username}}</p>
                {% endfor %}
        </div>
    </div>
</article>
{% endfor %}
{% endblock %}