{% extends 'baseboostrap.html' %}
{% load humanize %}
{% block content %}

<div class="main">
  <div class="table-responsive">
    <table class="table table-light table-striped">
      <tr class="table-active">
      
          <td>usuario </td>
          <td>Producto</td>
          <td>variedad</td>
          <td>Calibre</td>
          <td>cantidad_actual</td>
          <td>cantidad_necesaria</td>
          <td>contenido</td>
          <td>cliente</td>
          <td>fecha_creacion</td>
          <td>EstadoSolicitudCompra</td>
          <td>imagen</td>
          <td>ModEstado</td>

        {% for s in soli %} 
        <tr>
      
            <td>{{ s.usuario.username }}</td>
        
            <td>{{ s.get_producto_display }}</td>
    
            <td>{{ s.variedad }}</td>
            
            <td>{{ s.get_calibre_display }}</td>
  
            <td>{{ s.cantidad_actual }}</td>

            <td>{{ s.cantidad_necesaria }}</td>

            <td>{{ s.contenido }}</td>

            <td>{{ s.cliente }}</td>

            <td>{{ s.fecha_creacion }}</td>

            <td>{{ s.get_EstadoSolicitud_display }}</td>

            <td> <img style="height: 100px;"  src="{{ s.imagen.url }}"> </td>
            <td><p class="boton_mod"><a  href="{% url 'modificarSolicitud' s.pk%}">MODIFICAR</a></p></td>
        <td></p></td>
          
        
          </tr>
        {% endfor %}
      </table>
    </div>


</div>



  


{% endblock %}